*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit;
  padding-top: 3rem;
  background-color: #fafafa; }

body {
  font-size: 1.6rem;
  font-family: Arial;
  color: #314584; }

.heading-1 {
  font-size: 6.5rem;
  line-height: 1.2; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] 1fr [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 6.5rem repeat(7, min-content);
  grid-template-rows: 6.5rem;
  grid-column-gap: 2rem; }

.header {
  margin-top: 5rem;
  grid-column: center-start/ center-end;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.title {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  align-content: flex-start; }
  .title > *:not(:last-child) {
    margin-bottom: 4rem; }
  .title__text {
    width: 85%;
    color: #868b8f;
    font-size: 1.6rem;
    line-height: 1.6; }

.hero {
  z-index: 20;
  flex: 0 0 50%;
  display: flex;
  justify-content: center; }
  .hero__img {
    height: 30vw; }

.navigation {
  grid-column: center-start/center-end;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.logo {
  height: 60%; }

.nav {
  list-style: none;
  margin-left: auto;
  display: flex; }
  .nav__item {
    transition: all .4s; }
    .nav__item:not(:last-of-type) {
      margin-right: 3.5rem; }
  .nav__item:hover {
    transform: scale(1.1);
    background-color: #ff3946; }
  .nav__item:hover .nav__link {
    color: #fafafa; }
  .nav__link:visited, .nav__link:link {
    color: #314584;
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 2rem; }

.footer {
  grid-column: center-start/ center-end;
  background-color: orange;
  height: 80vh; }

.big-cloud {
  grid-column: col-start 6/ full-end;
  z-index: 1;
  height: 60rem;
  width: 60rem; }

.section-features {
  background-color: palegreen;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-about {
  background-color: plum;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-gallery {
  background-color: powderblue;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-stories {
  background-color: rebeccapurple;
  grid-column: center-start/ center-end;
  min-height: 40vh; }

.section-call {
  background-color: salmon;
  grid-column: center-start/ center-end;
  min-height: 60vh; }

.btn {
  display: inline-block; }
  .btn:link, .btn:active {
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 5rem; }
  .btn--red {
    background-color: #ff3946;
    color: #fafafa; }
  .btn--white {
    color: #314584;
    font-weight: 700;
    border: #314584 solid 2px; }

.mg-right-small {
  margin-right: 2rem; }
