*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit;
  padding-top: 3rem; }

body {
  font-size: 1.6rem;
  font-family: Arial;
  color: #314584; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] 1fr [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 6.5rem repeat(7, min-content);
  grid-template-rows: 6.5rem;
  grid-column-gap: 2rem; }

.header {
  grid-column: center-start/ center-end;
  background-color: orange;
  height: 80vh; }

.navigation {
  grid-column: 1/-1;
  background-color: orchid; }

.footer {
  grid-column: center-start/ center-end;
  background-color: orange;
  height: 80vh; }

.section-features {
  background-color: palegreen;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-about {
  background-color: plum;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-gallery {
  background-color: powderblue;
  grid-column: center-start/ center-end;
  min-height: 50vh; }

.section-stories {
  background-color: rebeccapurple;
  grid-column: center-start/ center-end;
  min-height: 40vh; }

.section-call {
  background-color: salmon;
  grid-column: center-start/ center-end;
  min-height: 60vh; }
