.big-cloud {
    
    position: absolute;
  

    &--1{
    top: 0;
    right: 0;
    width: 70rem;

    }

    &--2{
        top:50rem;
        left: -5rem;
        width: 70rem;
    }

    & path {
        fill: $color-cloud;
    }

}