.btn{
    display: inline-block;
    &:link,
    &:active {
        text-decoration: none;
        padding: 1.5rem 3rem;
        border-radius: 5rem;
       
    }

    &--red {
        background-color: $color-secondary;
        color: $color-white;
        font-weight: 700;
    }

    &--white {
        color: $color-primary;
        font-weight: 700;
        border: $color-primary solid 2px;
        
    }
}