.feature {

    &__title-block {
        flex: 0 0 30%;
        z-index: 20;
        &> *:not(:last-child){
            margin-bottom: 4rem;
        }
    }

    &__card {
        padding: 2rem 3rem;
        //border: 1px solid black;
        width: 25rem;
        min-height: 20rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .15);
        // margin-left: 3rem;
    }

    &__img {
        width: 5.5rem;
        margin-bottom: 2rem;
    }

    &__text {
        margin-top: 3rem;

    }
}

.img-holder {
    justify-self: start;
}