.social {
    
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;

    &>* {
        display: inline-block;
    }

    & path{
        fill: white;
    }
}